 
.layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 1350px;
    }
}

.category-title {
    font-size: 24px;

    @media (min-width: 768px) {
        font-size: 34px;
    }
}

.products-container {
    margin: 20px 0;

    @media (min-width: 768px) {
        margin: 50px 0;
    }
}

