.PRproduct-card {
    cursor: pointer;
    width: calc(50% - 5px);
    margin-bottom: 20px;
    overflow: hidden;

    @media (min-width: 768px) {
        width: calc(25% - 15px);

    }
}

.PRthumbnail {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;


}

.PRthumbnail img {
    width: 100%;
    transition: all ease 0.3s;
    display: block;
    min-height: 160px !important;
    max-height: 160px !important;
    border-radius: 10px;
}

.PRthumbnail:hover img {
    transform: scale(1.2);
}


.arc-card-title {
    font-size: 16pt;
    font-weight: 900;
    display: block;
    margin: 0px auto;
    text-align: center;
    text-transform: capitalize;

    @media (min-width: 768px) {
        font-size: 22px;
        margin-bottom: 10px;
    }
}


.arc_btn {
    width: 50%;

    margin: 2px auto;
    font-size: 14px;

    background-color: #fcb900;
    border-radius: 5px;
    border-color: #fcb900;
    color: black;
    font-weight: 600;
    padding: 7px;
    text-align: center !important;

    @media (max-width: 569px) {
        font-size: 10px;
        min-width: 80px;
    }
}

.arc_btn:hover {
    transform: scale(1.1);
}